*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: solid 1px red; */
}

:root {
    color-scheme: light dark;
    scrollbar-gutter: stable both-edges;
    --go-blue: #00ADD8;
    --go-dark-blue: color-mix(in srgb, var(--go-blue) 75%, black 25%);
    line-height: 1.5;
}

body {
    line-height: inherit;
    font-family: ui-sans-serif, system-ui, sans-serif;
}

.file-icon {
    height: 24px;
    width: 24px;
    flex: none;
}

.download-icon {
    height: 24px;
    width: 24px;
}

.search-icon {
    height: 24px;
    width: 24px;
}

.filename {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

.search-form {
    padding: 4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 4px 8px;
    border-radius: 4px 0px 0px 4px;
    border-style: solid;
    border-width: 1px;
    border-right: none;
    &:hover {
        border-color: var(--go-blue);
    }
}

.search-button {
    display: flex;
    align-content: center;
    border: 1px solid var(--go-blue);
    border-radius: 0px 4px 4px 0px;
    padding: 4px 8px;
    background-color: var(--go-blue);
    transition-duration: 150ms;
    &:hover {
        cursor: pointer;
        background-color: var(--go-dark-blue);
        border-color: var(--go-dark-blue);
    }
}

.breadcrumbs {
    margin: 0rem 10rem;
    padding: 4px 0px;
}

.file-container {
    margin: 0rem 10rem;
}

table {
    table-layout: fixed;
    border-top: 1px solid currentColor;
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

.link {
    overflow-wrap: anywhere;
}

a {
    color: var(--go-blue);
    text-decoration: none;
    &:hover {
        color: var(--go-dark-blue);
        text-decoration: underline;
    }
}
